<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css" />
  <link rel="stylesheet" href="static/css/styles.css" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <title>Ristorante Con Fusion: About Us</title>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="static/imgs/logo.png" height="30" height="41"></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;Contact</a>
          </li>
        </ul>
        <span class="navbar-text" id="loginModalIcon">          
          <span class="fa fa-sign-in"></span>
          Login          
      </span>
      </div>
    </div>
  </nav>

  <div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>        
            <span class="fa fa-times-circle fa-lg" id="closeModalLogin"></span>          
        </div>
        <div class="modal-body">
          <form class="row gx-2 gy-2 align-self-center">
            <div class="col-12 col-sm-6">
              <label for="inputEmail" class="visually-hidden">Email</label>
              <input type="email" class="form-control" id="inputEmail" value="email@example.com">
            </div>
            <div class="col-12 col-sm-6">
              <label for="inputPassword" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="********">
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                <label class="form-check-label" for="rememberMe">
                  Remember me
                </label>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="float-sm-end">
                <button type="button" class="btn btn-secondary" id="cancelLoginModal">Cancel</button>
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <header class="jumbotron">
    <div class="container">
      <div class="row row-header">
        <div class="col-12 col-sm-6">
          <h1>Ristorante con Fusion</h1>
          <p>
            We take inspiration from the World's best cuisines, and create a
            unique fusion experience. Our lipsmacking creations will tickle
            your culinary senses!
          </p>
        </div>
        <div class="col-6 col-sm-3 align-self-center">
          <img src="static/imgs/logo.png" class="img-fluid">
        </div>
        <div class="col-6 col-sm-3 align-self-center">
          <button type="button" id="reserveTbBtn" class="btn btn-warning btn-lg">
            Reserve Table
        </div>
        </button>
      </div>
    </div>
    </div>
  </header>

  <div id="reserveTableModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Reserve a Table</h4>          
            <span class="fa fa-times-circle fa-lg closeModalReserveTb" id="closeModalReserveTb"></span>          
        </div>
        <div class="modal-body">
          <form id="reservationDate">
            <div class="row py-2">
              <div class="col-12 col-sm-3">
                Number of Guests
              </div>
              <div class="col-12 col-sm-8">
                <div class="form-check form-check-inline me-1">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                  <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline me-1">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline me-1">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                  <label class="form-check-label" for="inlineRadio3">3</label>
                </div>
                <div class="form-check form-check-inline me-1">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4">
                  <label class="form-check-label" for="inlineRadio4">4</label>
                </div>
                <div class="form-check form-check-inline me-1">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5">
                  <label class="form-check-label" for="inlineRadio5">5</label>
                </div>
                <div class="form-check form-check-inline me-1">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="6">
                  <label class="form-check-label" for="inlineRadio6">6</label>
                </div>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-sm-3">
                Section
              </div>
              <div class="col-6 col-sm-5 btn-group" role="group">
                <input type="radio" class="btn-check" name="section" id="non-smoking" autocomplete="off"
                  value="non-smoking" checked>
                <label class="btn btn-outline-success" for="non-smoking">Non-Smoking</label>
                <input type="radio" class="btn-check" name="section" id="smoking" value="smoking" autocomplete="off">
                <label class="btn btn-outline-danger" for="smoking">Smoking</label>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-12 col-sm-3">
                Reservation Date
              </div>
              <div class="col-6 col-sm-5">
                <input class="form-control" name="date" value="" placeholder="Date" type="text"
                  onfocus="(this.type='date')" id="date">
              </div>
              <div class="col-6 col-sm-3">
                <input class="form-control" name="time" value="" placeholder="Time" name="date" value="" type="text"
                  onfocus="(this.type='time')" id="time">
              </div>
            </div>
            <div class="row py-2">
              <div class="d-none d-sm-block col-sm-3">&nbsp;</div>
              <div class="col-12 col-sm-8">
                <button type="button" class="btn btn-secondary" id="cancelModal">Cancel</button>
                <button class="btn btn-primary" type="submit">Reserve</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-container align-items-center">
      <ol class="col-12 breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">
          About
        </li>
      </ol>
      <div class="col-12 order-sm-last">
        <h3>About Us</h3>
        <hr />
      </div>
    </div>

    <div class="row row-content align-items-center">
      <div class="col col-sm-6 order-sm-first col-md">
        <h2>Our History</h2>
        <p>
          Started in 2010, Ristorante con Fusion quickly established itself as
          a culinary icon par excellence in Hong Kong. With its unique brand
          of world fusion cuisine that can be found nowhere else, it enjoys
          patronage from the A-list clientele in Hong Kong. Featuring four of
          the best three-star Michelin chefs in the world, you never know what
          will arrive on your plate the next time you visit us.
        </p>
        <p>
          The restaurant traces its humble beginnings to
          <em>The Frying Pan</em>, a successful chain started by our CEO, Mr.
          Peter Pan, that featured for the first time the world's best
          cuisines in a pan.
        </p>
      </div>
      <div class="col-sm">
        <div class="card">
          <h3 class="card-header bg-primary text-white">
            Facts At a Glance
          </h3>
          <div class="card-body">
            <dl class="row">
              <dt class="col-6">
                Started
              </dt>
              <dd class="col-6">
                03 Feb. 2013
              </dd>
              <dt class="col-6">
                Major Stake Holder
              </dt>
              <dd class="col-6">
                Hk Fine Foods Inc.
              </dd>
              <dt class="col-6">
                Last Year's Turnover
              </dt>
              <dd class="col-6">
                $1,250,375
              </dd>
              <dt class="col-6">
                Employees
              </dt>
              <dd class="col-6">
                40
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card card-body bg-light">
          <figure>
            <blockquote class="blockquote">
              <p>
                You better cut the pizza in four pieces because I'm not hungry enough to eat six.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Yogi Berra,<cite title="Source Title">The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books,
                2014.</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <div class="row row-content align-items-center">
      <div class="col col-sm col-md">
        <h2>Corporate Leadership</h2>
        <ul class="nav nav-tabs" id="corporateLeadership" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="ceo-tab" data-bs-toggle="tab" data-bs-target="#ceo" type="button"
              role="tab" aria-controls="ceo" aria-selected="true">
              Peter Pan, CEO
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="cfo-tab" data-bs-toggle="tab" data-bs-target="#cfo" type="button" role="tab"
              aria-controls="cfo" aria-selected="false">
              Dhanasekaran Witherspoon, CFO
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="cto-tab" data-bs-toggle="tab" data-bs-target="#cto" type="button" role="tab"
              aria-controls="cto" aria-selected="false">
              Agumbe Tang, CTO
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="excChef-tab" data-bs-toggle="tab" data-bs-target="#excChef" type="button"
              role="tab" aria-controls="excChef" aria-selected="false">
              Alberto Somayya Exec. Chef
            </button>
          </li>
        </ul>
        <div class="tab-content" id="corporateLeadership">
          <div class="tab-pane fade show active" id="ceo" role="tabpanel" aria-labelledby="ceo-tab">
            <h3>Peter Pan <small>Chief Epicurious Officer</small></h3>
            <p class="d-none d-sm-block">
              Our CEO, Peter, credits his hardworking East Asian immigrant parents
              who undertook the arduous journey to the shores of America with the
              intention of giving their children the best future. His mother's
              wizardy in the kitchen whipping up the tastiest dishes with whatever
              is available inexpensively at the supermarket, was his first
              inspiration to create the fusion cuisines for which
              <em>The Frying Pan</em> became well known. He brings his zeal for
              fusion cuisines to this restaurant, pioneering cross-cultural
              culinary connections.
            </p>
          </div>
          <div class="tab-pane fade" id="cfo" role="tabpanel" aria-labelledby="cfo-tab">
            <h3>Dhanasekaran Witherspoon <small>Chief Food Officer</small></h3>
            <p class="d-none d-sm-block">
              Our CFO, Danny, as he is affectionately referred to by his
              colleagues, comes from a long established family tradition in
              farming and produce. His experiences growing up on a farm in the
              Australian outback gave him great appreciation for varieties of food
              sources. As he puts it in his own words,
              <em>Everything that runs, wins, and everything that stays, pays!</em>
            </p>
          </div>
          <div class="tab-pane fade" id="cto" role="tabpanel" aria-labelledby="cto-tab">
            <h3>Agumbe Tang <small>Chief Taste Officer</small></h3>
            <p class="d-none d-sm-block">
              Blessed with the most discerning gustatory sense, Agumbe, our CTO,
              personally ensures that every dish that we serve meets his exacting
              tastes. Our chefs dread the tongue lashing that ensues if their dish
              does not meet his exacting standards. He lives by his motto,
              <em>You click only if you survive my lick.</em>
            </p>
          </div>
          <div class="tab-pane fade" id="excChef" role="tabpanel" aria-labelledby="excChef-tab">
            <h3>Alberto Somayya <small>Executive Chef</small></h3>
            <p class="d-none d-sm-block">
              Award winning three-star Michelin chef with wide International
              experience having worked closely with whos-who in the culinary
              world, he specializes in creating mouthwatering Indo-Italian fusion
              experiences. He says,
              <em>Put together the cuisines from the two craziest cultures, and you
                get a winning hit! Amma Mia!</em>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-content">
      <div class="col-12 col-sm-9">
        <h2>Facts &amp; Figures</h2>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr class="table-dark">
                <th>&nbsp;</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
              </tr>
            </thead>
            <tbdoy>
              <tr class="table-light">
                <td>Employees</td>
                <td>15</td>
                <td>30</td>
                <td>40</td>
              </tr>
              <tr>
                <td>Guests Served</td>
                <td>15,000</td>
                <td>45,000</td>
                <td>100,000</td>
              </tr>
              <tr class="table-light">
                <td>Special Events</td>
                <td>3</td>
                <td>20</td>
                <td>45</td>
              </tr>
              <tr>
                <td>Annual Turnover</td>
                <td>$251,325</td>
                <td>$1,250,375</td>
                <td>$3,010,340</td>
              </tr>
            </tbdoy>
          </table>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 offset-1 col-sm-2">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-7 col-sm-5 address">
          <h5>Our Address</h5>
          <address>
            121, Clear Water Bay Road<br />
            Clear Water Bay, Kowloon<br />
            HONG KONG<br />
            <i class="fa fa-phone fa-lg">&nbsp;Tel.: +852 1234 5678</i><br />
            <i class="fa fa-fax fa-lg">&nbsp;Fax: +852 8765 4321</i><br />
            <i class="fa fa-envelope fa-lg">&nbsp;Email: </i><a href="mailto:confusion@food.net">confusion@food.net</a>
          </address>
        </div>
        <div class="col-12 col-sm-4 align-self-center">
          <div class="text-center">
            <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google fa-lg"></i></li>
            </a>
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                class="fa fa-facebook fa-lg"></i></li></a>
            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
                class="fa fa-linkedin fa-lg"></i></li></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i>
              </li></a>
            <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i>
              </li></a>
            <a class="btn btn-social-icon btn-linkedin" href="mailto:"><i class="fa fa-envelope-o fa-lg"
                aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <p>© Copyright 2021 Ristorante Con Fusion</p>
        </div>
      </div>
    </div>
  </footer>
  <!--  Bootstrap JS-->
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="static/js/customModals.js"></script>
</body>

</html>