body{
    padding:50px 0px 0px 0px;
    z-index: 0;
}

.jumbotron {
    border-radius: .3rem;
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

.navbar-dark{
    background-color: #512DA8;
}

.navbar{
    font-size: 1.6em;
}

header h1{
    font-size: 3em;
}
header p{
    font-size: 1.2em;
}


#tooltipReservetb{
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
}

#tooltipReservetb[data-show]{
    display: block;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom:  1px solid #ddd;
    padding: 10px;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

a{
    text-decoration-line: none;
}